.ReelsHeader {
    align-items: center;
    background-color: transparent;
    justify-content: center;
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 15px;
    position: sticky;
    top: 0;
    max-width: 10000px;
    z-index: 2;
}

.ReelsHeader__Container {
    display: flex;
    max-width: 900px;
    margin: auto;
    justify-content: center;
}

.ReelsHeader__Logo {
    color: black;
    cursor: pointer;
    display: block;
    font-family: Poppins-Medium;
    object-fit: contain;
    margin-left: 0;
    margin-right: auto;
}

.ReelsHeader__Icon {
    cursor: pointer;
    display: block;
    margin-left: 20px;
    object-fit: contain;
    width: 30px;
}
